.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	list-style-type: none;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}
